.full-height {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
  text-align: justify;
}

h2 {
  font-size: 1.5rem;
}

.card-width {
  width: 450px;
}